// colors
$navbarBg: #313132;
$navLink: #D6D6D6;
$linkColor: #0076E3;
$textColor: #525252;
$lighter: #C5C5C5;
$lighter2: #A4A4A4;
$black: #000000;
$white: #ffffff;
$mainBackground: #F5F5F7;

